body {
	text-align: center;
}

div.frontpagecontainer {
	text-align: left;
}

div.centeredcontent {
	text-align: center;
}

#header {
	padding-top: 10px;
}

#header ul li a {
	width: 70px;
	padding-bottom: 3px;
}

.slidifierbutton {
	background-color: #4E4653;
}

.slidifierbutton:hover {
	background-color: #99173C;
}