/* http://www.colourlovers.com/palette/444487/Curiosity_Killed */

body {
	background-color: #ebebeb; 
	background-image: url("noise.jpg");
	background-repeat: repeat-x;
	font-family: georgia;
	color: #2E2633;
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.1em;
	margin-bottom: 1.25em;
}

a {
	text-decoration: none;
	color: #99173C;
}
a:hover {
	text-decoration: underline;
}

#srcForm {
	margin-left: auto; margin-right: auto; width: 800px;
}

#urls, #readonlyMsg {
	margin-left: auto;
	margin-right: auto;
	width: 770px;
	box-shadow: 3px 3px 10px #666;
	background-color: #EFFFCD;
	padding: 15px;
	padding-bottom: 5px;
}

#readonlyMsg {
	font-size: 150%;
	font-style: italic;
	padding-bottom: 15px;
}

#urls a {
	font-size: 75%; margin-left: 10px;
}

#urls div {
	margin-bottom: 10px;
}

#header {
	background-color: #99173C;
	height: 70px;
	padding: 0px;
	border-bottom: 5px solid #EFFFCD;
	margin-bottom: 20px;
}
#logo {
	padding: 7px;
	float: left;
}
#header ul {
	float: right;
	margin-top: 40px;
}
#header ul li {
	float: left;
}
#header ul li a {
	text-decoration: none;
	color: #EFFFCD;
	font-weight: bold;
	height: 23px;
	padding: 7px 10px 0 10px;
	display: block;
	margin-left: 10px;
	border-radius: 10px 10px 0 0;
}
#header ul li a:hover {
	color: #2E2633;
	background: #EFFFCD;
}
#header ul li a.active {
	color: #2E2633;
	background: #EFFFCD;
}

.center {
	margin: 0 auto;
	width: 800px;
}

form {
	margin: 10px;
}

textarea {
	width: 100%; height: 370px; padding: 5px 0px 0px 5px; margin-bottom: 10px;
	border: 1px solid #eeeeee;
}

textarea.readonly {
	background-color: #ebebeb;
	color: #444;
	cursor: auto;
	border-color: #bbb;
}

#themePicker {
	float: left;
	margin-top: 25px;
}
#themePicker input {
	margin-left: 10px;
}

.slidifierbutton {
	font-size: 1.5em;
	margin-top: 17px;
	padding: 10px 15px;
	font-family: georgia;
	color: #EFFFCD;
	text-shadow: 2px 2px 2px #222; 
	border-radius: 5px; 
	box-shadow: 3px 3px 5px #333;
	cursor: pointer;
	float: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	background: #4E4653;
	background: -moz-linear-gradient(
		top,
		#4E4653 0%,
		#2E2633
	);
	background: -o-linear-gradient(
		top,
		#4E4653 0%,
		#2E2633
	);
	background: -webkit-gradient(
		linear, 
		center top, 
		center bottom, 
		from(#4E4653), 
		to(#2E2633)
	);
	border-radius: 10px;
	border: 1px solid #555152;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 2px 2px rgba(255,255,255,0.7);
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 2px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 2px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.slidifierbutton:hover {
	text-decoration: none;
	background: #99173C;
	background: -moz-linear-gradient(
		top,
		#99173C 0%,
		#69071C);
	background: -o-linear-gradient(
		top,
		#99173C 0%,
		#69071C);
	background: -webkit-gradient(
		linear, 
		center top, 
		center bottom, 
		from(#99173C), 
		to(#69071C)
	);
	border: 1px solid #Bd5876;
}

.smallButton {
	padding: 5px 10px;
	font-size: 1.15em;
	margin-right: 20px;
	background: #6E6673;
	text-transform: lowercase;
	background: -moz-linear-gradient(
		top,
		#6E6673 0%,
		#4E4653
	);
	background: -o-linear-gradient(
		top,
		#6E6673 0%,
		#4E4653
	);
	background: -webkit-gradient(
		linear, 
		center top, 
		center bottom, 
		from(#6E6673), 
		to(#4E4653)
	);
	border: 1px solid #757172;
	color: #eee;
	font-style: italic;
}

.smallButton:hover {
	background: #B9375C;
	background: -moz-linear-gradient(
		top,
		#B9375C 0%,
		#89273C);
	background: -o-linear-gradient(
		top,
		#B9375C 0%,
		#89273C);
	background: -webkit-gradient(
		linear, 
		center top, 
		center bottom, 
		from(#B9375C), 
		to(#89273C)
	);
	border: 1px solid #Bd5876;
}

.frontpagebutton {
	float: none;
	margin: 0 auto;
	width: 265px;
	display: block;
	text-align: center;
	width: 400px;
	padding: 20px;
}

.editorbutton {
	float: none;
	padding: 3px 8px;
	font-size: 1em;
	margin-right: 5px;
	font-family: monospace;
	font-style: normal;
	border-radius: 5px;
	margin-bottom: 7px;
	color: #2E2633;
	text-shadow: none;
	text-transform: none;
	background: #D2CAD7;
	background: -moz-linear-gradient(
		top,
		#D2CAD7 0%,
		#B2AAB7
	);
	background: -o-linear-gradient(
		top,
		#D2CAD7 0%,
		#B2AAB7
	);
	background: -webkit-gradient(
		linear, 
		center top, 
		center bottom, 
		from(#D2CAD7), 
		to(#B2AAB7)
	);
}

.editorbutton:hover {
	background: #EFFFCD;
	background: -moz-linear-gradient(
		top,
		#EFFFCD 0%,
		#D0DDB3);
	background: -o-linear-gradient(
		top,
		#EFFFCD 0%,
		#D0DDB3);
	background: -webkit-gradient(
		linear, 
		center top, 
		center bottom, 
		from(#EFFFCD), 
		to(#D0DDB3)
	);
	border: 1px solid #757172;
}

.picturedialogbuttonlabel {
	background-image: url(image-icon.gif);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
}

#picturesrc {
	width: 250px;
}

#picturesrcForm {
	margin-bottom: 3px;
}

#picturesrcForm em {
	font-size: 133%;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

#picturesrcForm .editorbutton {
	font-family: inherit;
	padding: 7px;
}

#insertpicturebutton, #uploadpicturebutton {
	float: none;
	margin: 0px 3px 7px;
}

#uploadframe {
	display: block;
	width: 100%;
}

#uploader form {
	margin: 0;
}

#uploader span {
	margin: 0;
	padding: 2px;
	display: block;
	float: left;
}

#uploader input {
	font-size: 1em;
	font-family: georgia;
	color: #2E2633;
	margin: 3px;
	width: 406px;
}

#uploader button {
	float: left;
	margin-left: 8px;
}

#uploadspinner {
	margin-top: 12px;
	margin-left: 5px;
}

#uploadfailed {
	float: left;
	font-weight: bold;
	color: #99173C;
	margin-top: 7px;
	margin-left: 4px;
}

#saveButton {
	color: #E997BC;
}

label#whitelabel,
label#blacklabel,
label#colorfullabel {
	padding: 3px 6px;
	margin-left: 3px;
	border-radius: 4px;
	font-size: 80%;
	margin-top: -2px;
}

label#whitelabel {
	background-color: #fff;
	color: #222;
}

label#blacklabel {
	background-color: #000;
	color: #eee;
}

label#colorfullabel {
	background-color: #16171A;
	color: #F8CA00;
}

h1 {
	margin-top: 0.5em;
	font-style: italic;
	font-size: 3em;
	margin-bottom: 0.5em;
}

h2 {
	font-style: italic;
	margin-bottom: 1.25em;
}

h3, h4, h5, h6 {
	font-style: italic;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

span.big {
	font-size: 125%;
	
}

span.medium {
	font-size: 100%;
}

span.small {
	font-size: 75%;
}

div.frontpagecontainer {
	margin-left: auto; margin-right: auto; width: 800px;
}
div.frontpagecontainer h2 {
	margin-top: 1.25em;
}

.tagline {
	color: #555555;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	line-height: 1.5em;
	text-align: center;
}
.helpline {
	color: #555555;
	font-size: 0.8em;
	font-style: italic;
	margin-top: 50px;
	text-align: center;
}

div.grippie {
	background:#EEEEEE url(grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
}

.resizable-textarea textarea {
	display:block;
	margin-bottom:0pt;
}

.resizable-textarea {
	box-shadow: 3px 3px 10px #666;
}

.emailadress {
	display: inline; 
	border: 1px solid #bbb; 
	border-radius: 4px; 
	vertical-align: bottom;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}