/* http://www.colourlovers.com/palette/444487/Curiosity_Killed */

body {
	background-color: #ebebeb; 
	background-image: url("noise.jpg");
	background-repeat: repeat-x;
	font-family: georgia;
	color: #2E2633;
	margin: 0;
	padding: 0;
}

#srcForm {
	margin-left: auto; margin-right: auto; width: 50%;
}

#header {
	background-color: #99173C;
	height: 70px;
	padding: 0px;
	border-bottom: 1px solid #EFFFCD;
	margin-bottom: 50px;
}
#logo {
	padding: 7px;
}
.center {
	margin: 0 auto;
	width: 50%;
}

.tellmemore {
	float: right;
	color: #fff;
	font-size: 85%;
	font-family: arial black;
	padding: 4px 6px;
	margin: 10px;
	text-align: center;
	/*border: 1px solid #2E2633;*/
	text-shadow: 1px 1px 2px #000;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #333;
	cursor: pointer;
	text-transform: uppercase;
	background-color: #DCE9BE;
}

.tellmemore:hover {
	background-color: #EFFFCD;
}

form {
	margin: 10px;
}

textarea {
	width: 100%; height: 300px; padding: 5px 0px 0px 5px; margin-bottom: 10px;
	border: 1px solid #eeeeee;
}

#themePicker {
	float: left;
}
#themePicker input {
	margin-left: 10px;
}

input#submitButton {
	font-size: 1.5em;
	margin-top: 10px;
	padding: 10px 15px;
	font-family: georgia;
	color: white;
	background-color: #2E2633;
	border: 1px solid #555152;
	text-shadow: 2px 2px 2px #222; border-radius: 5px; box-shadow: 3px 3px 5px #333;
	cursor: pointer;
	float: right;
	text-transform: uppercase;
}

input#submitButton:hover {
	background-color: #99173C;
}

h1 {
	margin-top: 0.5em;
	font-style: italic;
	font-size: 3em;
	margin-bottom: 0.5em;
}

h2 {
	font-style: italic;
	color: #555;
	margin-bottom: 1.25em;
}

h3, h4, h5, h6 {
	font-style: italic;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

span.big {
	font-size: 125%;
	
}

span.medium {
	font-size: 100%;
}

span.small {
	font-size: 75%;
}

div.frontpagecontainer {
	margin-left: auto; margin-right: auto; width: 50%;
}

div.frontpagebox {
	font-family: georgia;
	border: 1px solid #555152;
	text-shadow: 2px 2px 2px #222; border-radius: 5px; box-shadow: 3px 3px 5px #333;
	cursor: pointer;
	float: right;
	text-transform: uppercase;
	padding: 20px 0;
	margin: 20px 0;
	width: 720px;
}

div.upperbox {
	background-color: #2E2633;
}

div.upperbox h2 {
	color: #fff;
}

div.lowerbox {
	background-color: #4E4653;
}

div.lowerbox h2 {
	color: #eee;
}

div.frontpagebox:hover {
	background-color: #99173C;
}

div.frontpagebox h2 {
	font-family: georgia;
	font-style: italic;
	font-size: 2em;
	text-align: center; 
	margin: 10px;
	text-shadow: 2px 2px 2px #222;
}

a:link, a:hover, a:active, a:visited {
	text-decoration: none;
}

div.grippie {
 background:#EEEEEE url(grippie.png) no-repeat scroll center 2px;
 border-color:#DDDDDD;
 border-style:solid;
 border-width:0pt 1px 1px;
 cursor:s-resize;
 height:9px;
 overflow:hidden;
 }
 .resizable-textarea textarea {
 	display:block;
 	margin-bottom:0pt;
 }