@font-face {
	font-family: SinaNovaReg;
	src: url("../../fonts/SinaNovaReg-webfont.ttf") format("truetype");
}

#slide #help {
	padding: 10px;
	text-align: center;
	font-size: 0.65em;
	position: fixed;
}

#slide h1.titleslide {
	font-size: 3em;
}

#slide h1.titleslide, 
#slide h2.titleslide, 
#slide h3.titleslide, 
#slide h4.titleslide, 
#slide h5.titleslide, 
#slide h6.titleslide {
	margin-bottom: 1em; margin-top: 1em; text-align: center;
}

#slide {
	font-family: SinaNovaReg, georgia; font-size: 1.5em; height: 100%; text-align: center;
}

#slide.endofshow #slidecontent {
	text-align: center;
}

#slide.endofshow .endnote {
	letter-spacing: 3px;
	font-size: 75%;
	margin-top: 200px;
}

#slide.endofshow .endtip {
	letter-spacing: 0px;
	font-size: 60%;
	margin-top: 100px;
}

#slide.endofshow .endcredit {
	letter-spacing: 3px;
	font-style: italic;
	font-size: 50%;
	margin-top: 200px;
}

#slidecounter {
	font-size: 0.75em; display: inline; float: right; margin: 10px;
}

#clock {
	font-size: 0.75em; display: inline; float: left; margin: 10px;
}

#slidecontent {
	white-space: pre-wrap;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 60px;
	width: 86%;
}

#slidecontent table {
	display: inline-block;
	font-size: 100%;
}

#slidecontent th {
	padding: 0.4em 0.66em;
}

#slidecontent td {
	padding: 0.2em 0.66em;
}

#slide:before {
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
	margin-right: -0.25em;
}

#slide h1 {
	font-size: 1.65em; margin-bottom: 0.1em; font-weight: bold; font-style: normal;
}

#slide h2, #slide h3, #slide h4, #slide h5, #slide h6 {
	font-size: 1.3em; margin-bottom: 0em; font-style: normal;
}

#slide ul, #slide ol {
	margin: auto; max-width: 900px; text-align: left;
}

#slide li {
	margin-left: 10px; padding-left: 10px; margin-bottom: 7.5px; list-style: disc;
}

#slide li.lvl2 {
	margin-left: 40px; font-size: 85%;
}

#slide li.lvl3 {
	margin-left: 80px; font-size: 85%;
}

#slide pre {
	font-family: monospace; font-size: 75%; white-space: pre-wrap; text-align: left; max-width: 900px
}