#slide #help {
	font-family: Courier new;
	padding: 15px;
	text-align: center;
	font-size: 0.65em;
	position: fixed;
}

#slide h1.titleslide {
	font-size: 3em;
}

#slide h1.titleslide, 
#slide h2.titleslide, 
#slide h3.titleslide, 
#slide h4.titleslide, 
#slide h5.titleslide, 
#slide h6.titleslide {
	margin-bottom: 1em; margin-top: 1em;
}

#slide {
	font-family: georgia; font-size: 1.5em; height: 100%;
}

#slidecounter {
	font-size: 0.75em; display: inline; float: right; margin: 10px;
}

#clock {
	font-size: 0.75em; display: inline; float: left; margin: 10px;
}

#slidecontent {
	padding: 50px 100px 0px 100px; white-space: pre-wrap;
}

#slide h1 {
	font-size: 1.5em;
}

#slide h1, #slide h2, #slide h3, #slide h4, #slide h5, #slide h6 {
	font-weight: bold; text-align: center; margin-bottom: 0.1em;
}

#slide ul, #slide ol {
	margin-top: 10px; margin-left: 20px;
}

#slide li {
	margin-left: 10px; padding-left: 10px; margin-bottom: 7.5px; list-style: disc;
}

#slide li.lvl2 {
	margin-left: 40px; font-size: 85%;
}

#slide li.lvl3 {
	margin-left: 80px; font-size: 85%;
}

#slide pre {
	font-family: monospace; font-size: 75%;
}