#slide {
	background-color: black;
	color: #eee;
}

#slide.endofshow {
	background-color: #eee;
	color: #222;
}

.endcredit {
	color: #555;
}

#slide li.lvl2 {
	color: #ccc;
}

#slide li.lvl3 {
	color: #ccc;
}

#slide #help {
	background: rgba(255,255,255,0.2);
	color: rgba(255,255,255,0.5);
	width: 100%;
}

/* prettyPrint-tilpasninger */
pre.prettyprint, code.prettyprint {
	background-color: #333;
}