#slide {
	background-color: white;
	color: #222;
}

#slide.endofshow {
	background-color: #222;
	color: #bbb;
}

.endcredit {
	color: #999;
}

#slide li.lvl2 {
	color: #444;
}

#slide li.lvl3 {
	color: #444;
}

#slide #help {
	background: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.5);
	width: 100%;
}

/* prettyPrint-tilpasninger */
pre.prettyprint, code.prettyprint {
	background-color: #333;
}